version: '3.8'

services:
    web:
        image: nginx:latest
        ports:
            - "8080:80"
        volumes:
            - ./src:/code
            - ./site.conf:/etc/nginx/conf.d/default.conf
        networks:
            - code-network
    mongodb:
        image : mongo:latest
        container_name: mongodb
        environment:
            - PUID=1000
            - PGID=1000
        volumes:
            - ./src/:/data/db
        ports:
            - 27017:27017
        restart: unless-stopped
networks:
    code-network:
        driver: bridge
