version: "3.9"
services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/code
    environment:
      FLASK_ENV: development
  redis:
    image: "redis:alpine"
  mongodb:
    image : mongo:latest
    container_name: mongodb
    environment:
        - PUID=1000
        - PGID=1000
    ports:
        - 27017:27017
    restart: unless-stopped
