version: '2'

services:
    web:
        image: nginx:latest
        ports:
            - "8080:80"
        volumes:
            - ./src:/code
            - ./site.conf:/etc/nginx/conf.d/default.conf
        networks:
            - code-network
networks:
    code-network:
        driver: bridge
