.item {
    margin: 20px 0px 0px 0px;
}
.question {
    font-weight: bold;
    margin: 0px 15px 0px 0px;
}
.answer {
    margin: 0px 10px 0px 0px;
    white-space:nowrap;
}

.answers {
    margin: 10px 0px 0px 0px;
}

.points {
    margin-top: 2px;
    font-size: small;
}
.open-answer {
    margin-bottom: 2px;
}

.hr {
    border-bottom: 1px solid black;
    height: 17px;
}

.highlight {
    border-bottom: 1px solid black;
}

.hide {
    display: none;
}

.open-answer-hint {
    display: none;
}
.show-hint {
    border-bottom: 1px solid black;
    display: block;
}
.open-answer-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 70px;
        border: 1px solid lightGray;
        width:70%
}

@media print {
    .classwork {
        page-break-after: always;
    }
    #controls {
        display: none;
    }    
    .item {
        page-break-inside: avoid;
    }
}