.item {
    margin: 30px 0px 0px 0px;
}
.question {
    font-weight: bold;
}
.answer {
    margin: 0px 20px 0px 0px;
    white-space:nowrap;
}
@media print {
    .classwork {
        page-break-after: always;
    }
}