.item {
    margin: 30px 0px 0px 0px;
}
.question {
    font-weight: bold;
}
.answer {
    margin: 0px 20px 0px 0px;
    white-space:nowrap;
}
#controls {
        background: lightblue;
        padding:10px;
}

.points {
    margin-top: 2px;
    font-size: small;
}
.open-answer {
    margin-bottom: 2px;
}

.hr {
    border-bottom: 1px solid black;
}

@media print {
    .classwork {
        page-break-after: always;
    }
    #controls {
        display: none;
    }    
}