.oa-check {
    margin: 0px 1px 0px 1px;
    text-align: center;
    cursor: pointer;
    margin: 0 2px 0 0;

    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

}