#board-form {
    margin: 108px;
    border: 2px solid black;
    display: none;
}

.openAnswer {
    border-left: 1px solid black;
    margin:0 5px 0 5px;
}

.fab {
    width: 70px;
    height: 70px;
    background-color: #4CAF50;
    border-radius: 50%;
    
    font-size: 24px;
    color: white;
    text-align: center;
  
    position: fixed;
    right: 50px;
    bottom: 50px;

    border: none;
 }

.openAnswerPoint {

    margin: 0 3px 0 3px;

}

span.oa-check-symbols>span {
    display: inline-block;
    transform: rotate(180deg);
}