#board-form {
    margin: 10px;
    border: 2px solid black;
    display: none;
}

#controls {
    background: lightblue;
    padding:10px;
}

.openAnswer {
    border-left: 1px solid black;
    margin:0 5px 0 5px;
}

#save-button {
    width: 100%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}