#board-form {
    margin: 10px;
    border: 2px solid black;
    display: none;
}

.openAnswer {
    border-left: 1px solid black;
    margin:0 5px 0 5px;
}

#save-button {
    width: 100%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

h2 {
    margin: 10px 0 5px 5px;
}

ul.cards {
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
}

ul.cards>li {
    margin: 5px 0px 3px 5px;
    border-bottom: 1px solid gray;
    list-style-type: none;
    width: 100%;
}

ul.scores {
    margin-left: 5px;
    padding-left: 5px;
}
ul.scores li {
    list-style-type: none;
    display: inline;
    margin: 0 8px 0 3px;
    overflow-wrap: break-word;
}


ul.scores li span {
    margin: 0 2px 0 1px;
}

ul.scores li.isWrong {
    font-weight: bold;
}

ul.scores li.isCorrect .score-correct {
    display: none;
}


.total-score {
    font-weight: bold;
    margin: 5px 2px 2px 8px;

}

.hasUndefined {
    background-color: beige;
    display: none;
}

@media print {
    #controls {
        display: none;
    }    
    ul.cards>li:nth-child(7n) {
            page-break-after: always;
    }
}