div#results {
    margin-top: 80px;
}
h2 {
    margin: 10px 0 5px 5px;
}

ul.cards {
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
}

ul.cards>li {
    margin: 5px 0px 3px 5px;
    border-bottom: 1px solid gray;
    list-style-type: none;
    width: 100%;
}

ul.scores {
    margin-left: 5px;
    padding-left: 5px;
}
ul.scores>li {
    list-style-type: none;
    display: inline-block;
    margin: 0 8px 0 3px;
}


ul.scores>li span {
    margin: 0 2px 0 1px;
}

ul.scores>li.isWrong {
    font-weight: bold
}

ul.scores>li.isOmissis {
    font-weight: bold;
}

.score-student::before {
    content: "(";
}
.score-student::after {
    content: ")";
}

ul.scores>li.isOmissis .score-student::after {
    content: "0p)";
}

ul.scores>li.isWrong .score-student::after {
    content: " -0.25p)";
}

ul.scores>li.isCorrect .score-student {
    display: none;
}

.total-score {
    font-weight: bold;
    margin: 5px 2px 2px 8px;

}

.hasUndefined {
    background-color: beige;
    display: none;
}

.fab {
    width: 70px;
    height: 70px;
    background-color: #4CAF50;
    border-radius: 50%;
    
    font-size: 24px;
    color: white;
    text-align: center;
  
    position: fixed;
    right: 50px;
    bottom: 50px;
 }

@media print {
    #nav-container {
        display: none;
    }
    #controls {
        display: none;
    }    
    ul.cards>li {
        page-break-inside: avoid;
    }
    ul.scores>li {
        white-space: nowrap; 
    }

    ul.scores .oa-point {
        white-space: nowrap; 
    }
    
    div#results {
        margin-top: 0px;
    }
}