* {
  font-family: Verdana, Geneva, sans-serif;
}

body {
  margin: 0;
}

/* NAV */
nav {
  display: flex;
  width: 100%;
  margin: 0;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #666;
  text-align: center;
  padding-top: .5rem;
  padding-right: .5rem;
  padding-left: .5rem;
  padding-bottom: .5rem;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #ddd;
}

nav li a.active {
  color: white;
  background-color: #4CAF50;
}

nav li.nav-brand a {
  font-size: 1.25rem;
  padding-top: .375rem;
  padding-bottom: .375rem;
}

/* CONTROLS */
#controls {
  background: lightblue;
  padding: 10px;
  width: 100%;
}